@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --color-bg-primary: #0f172a;
  --color-bg-secondary: #1e293b;
  --color-accent-primary: #8b5cf6; /* Violet */
  --color-accent-secondary: #06b6d4; /* Cyan */
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
}


body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}